<nav id="general-header" class="cf">
  <ul id="general-header-links" class="header-links cf">
    <li><a href="<%= new_session_url %>">Login</a></li>
    <li><a href="<%= new_user_url  %>">Sign Up</a></li>
  </ul>
</nav>

