<nav id="logged-header" class="cf">
  <ul id="logged-header-links" class="header-links cf">
    <li><a href="/users/<%= current_user.id %>">HOME </a></li>
    <li><a href="/users/<%= current_user.id %>">HOME </a></li>
    <li><a href="/users/<%= current_user.id %>">HOME </a></li>
  </ul>
</nav>
